.bubble-left {
	float: left;
	clear: both;
	background: #B7CC90;
}

.bubble-left:hover {
	background: #A9C07F;
}

.bubble-left:before {
	content: " ";
	display: block;
	position: relative;
	top: 0px;
	left: -11px;
	height: 13px;
	width: 13px;
	background: inherit; /*#B7CC90*/
	z-index: 100;

	-webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.bubble-right {
	float: right;
	clear: both;
	text-align: right;
	background: #90B2CC;;
}

.bubble-right:hover {
	background: #82A6C1;
}

.bubble-right:before {
	content: " ";
	display: block;
	position: relative;
	top: 0px;
	right: -99.8%;
	height: 13px;
	width: 13px;
	background: inherit; /*#90B2CC*/

	-webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.message-container {
	display: block;
	margin: auto;
	margin-top: 2.5%;
	height: 30em; /*Global Height of Widget*/
	width: 50em; /*Global Width of Widget*/
	background: #E1E1E1;
	box-shadow: 0px 0px 50px #1E1E1E;
	overflow:auto;
	resize:both;
}

.message-container > .message-north {
	width: auto;
	height: auto;
	resize:both;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.message-container > .message-south {
	width: 100%;
	height: 100%;
	padding: 1%;
	resize:both;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.message-container > .message-north > .message-user-list ,.message-container > .message-north >  .dropdown-menu{
	list-style-type: none;
	float: left;
	clear: left;
	width: 10em;
	height: 100%;
	overflow: hidden;
	
	resize:both;
	
}
.message-container > .message-north > .message-user-list  {
	width: auto;
	min-height: 25em;
	overflow: visible;
}
#fixoflow {
	overflow-x: visible;
}
#fixyoflow {

	overflow-y: auto;	
}


.message-container > .message-north > .message-user-list a {
	display: block;
	padding: 10px;
	height: 40px; /*Keep height same as img thumbnail height*/
	text-decoration: none;
	color: #313131;

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;
}

.message-container > .message-north > .message-user-list a:hover {
	background: #9E9E9E;

	-webkit-transition: all ease .2s;
	   -moz-transition: all ease .2s;
	    -ms-transition: all ease .2s;
	     -o-transition: all ease .2s;
	        transition: all ease .2s;
}

.message-container > .message-north > .message-user-list a .user-img {
	display: block;
	float: left;
	height: 100%;
	width: 40px;
	background: #6A8BBA;
}

.message-container > .message-north > .message-user-list a .user-title {
	margin-left: 5px;
}

.message-container > .message-north > .message-user-list a .user-desc {
	padding-left: 5px;
	padding-top: 5px;
	font-size: 12px;
	color: #5A5A5A;
    white-space: nowrap;
	overflow: hidden;    
    text-overflow: ellipsis;
}

.message-container > .message-north > .message-user-list a.active {
	background: #BFBFBF;
}

.message-container > .message-north > .message-user-list a.highlight {
	background: #90B2CC;
}

.message-container > .message-north > .message-user-list a.highlight .user-title,
.message-container > .message-north > .message-user-list a.highlight .user-desc {
	font-weight: bold;
}

.message-container > .message-north > .message-user-list .active { 
	font-color: #FF0000;
	font-weight: bold;
}

.message-container > .message-north > .message-thread {
	float: right;
	width: 75%;
	min-height: 25em;
	height: 90%;
	white-space: pre;
	padding-left: 5px;
	padding-right: 0px;
	background: #FFF;

	overflow:auto;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        
	    
}

.message-container > .message-north > .message-thread > .message {
	min-width: 40%;
	max-width: 70%;
	margin: 5px;
	margin-bottom: 2%;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
}

.message-container > .message-north > .message-thread > .message > p {
	display: block;
	clear: both;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 15px;
}

.message-container > .message-north > .message-thread > .message label {
	margin-top: -13px;
	font-size: 13px;
	font-weight: bold;
	color: #5A5A5A;
	cursor: pointer;
}

.message-container > .message-north > .message-thread > .message .message-user {
	display: block;
	float: left;
	margin-left: 3px;
}

.message-container > .message-north > .message-thread > .message .message-timestamp {
	display: block;
	float: right;
	margin-right: 3px;
	text-align: right;
}

.message-container > .message-south > textarea {
	width: 40em;
	height: 2em;
	margin-left: 20px;

	color: #666;
	background: #f6f6f6;
	border: 1px solid #b9b9b9;
	border-top-color: #a4a4a4;
	box-shadow: 0 1px 1px rgba(0,0,0,.17) inset;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.message-container > .message-south > textarea:focus {
	background: #000;
}

.message-container > .message-south > button {
	display: block;
	float: right;
	margin-top: 5px;
	height: 35px;
	width: 80px;
	color: #000000;
	background: -webkit-linear-gradient(#F5F5F5, #E9E9E9);
	background:    -moz-linear-gradient(#F5F5F5, #E9E9E9);
	background:      -o-linear-gradient(#F5F5F5, #E9E9E9);
	background:         linear-gradient(#F5F5F5, #E9E9E9);
	border: 2px solid #CCC;
	box-shadow: 0px 1px 2px #C6C6C6;
	cursor: pointer;
}

.message-container > .message-south > button:hover {
	background: -webkit-linear-gradient(#FFFFFF, #DFDFDF);
	background:    -moz-linear-gradient(#FFFFFF, #DFDFDF);
	background:      -o-linear-gradient(#FFFFFF, #DFDFDF);
	background:         linear-gradient(#FFFFFF, #DFDFDF);
}

.message-container > .message-south > button:active {
	box-shadow: inset 0px 0px 10px #5A5A5A;
	background: -webkit-linear-gradient(#E9E9E9, #F5F5F5);
	background:    -moz-linear-gradient(#E9E9E9, #F5F5F5);
	background:      -o-linear-gradient(#E9E9E9, #F5F5F5);
	background:         linear-gradient(#E9E9E9, #F5F5F5);
}


#chatterBox {
	left: auto;
	right: auto;
}

.nickname {
    color: #f00;
    font-weight: bold;
}
.msg {
    color: #444;
    font-weight: normal;
}



.sendbtn { 
	display:inline-block;
	*display:inline;
	*zoom:1;
	float:right;
	background: #25A6E1; 
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0)); 
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%); 
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0); 
	padding:8px 13px; 
	color:#fff; 
	font-family:'Helvetica Neue',sans-serif; 
	font-size:17px; 
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	 border:1px solid #1A87B9 
} 

#messageBox textarea {
	height: 1em;
	width: 20em;
}
#contact-area input.submit-button {
width: 10px;
float: right;
}

.page-header2{padding-bottom:1px;margin:2px 0 3px;border-bottom:1px solid #eeeeee;}
#fixmenu {
	padding-top: 10px;
}
.dropdown-submenu{position:relative;  z-index: 21;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu{float:none; }.dropdown-submenu>.dropdown-menu{right:-100%;margin-left:0px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.sidebar{float:right;margin-right:1px;}

