
#ownerBar a {background:  #000066; color: #FFF;}
#ownerBar a:hover { background:  #0000CC; color: #FF0000;}


.nickname {
    color: #f00;
    font-weight: bold;
}
.msg {
    color: #444;
    font-weight: normal;
}

.inline-right {
	display:inline-block;
	*display:inline;
	*zoom:1;
	float:right;
	
}
.inline-left {
	display:inline-block;
	*display:inline;
	*zoom:1;
	float:left;
	
}
#sendMessage  textarea {
	height: 3em;
	width: 85%;
}

#sendMessage #sendBtn {
	position: absolute;
}

.ui-widget-header,.ui-state-default, ui-button{
    background: #a0a0a0;
    border: 1px solid #cfcfcf;
    color: #FFFFFF;
    font-weight: bold;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}