
.dropdown-submenu{position:relative;  z-index: 21; background:  #000099; color: #fff;  }

#user-title {background:  #000099; color: #FFF;}
#themeChoice {background:  #000099;  }
#onlineUsers {background:  #000099;  }
#sideBar a {background:  #000099; color: #FFF;}
#sideBar a:hover { background:  #0000CC; color: #FF0000;}

#ownerBar a {background:  #000066; color: #FFF;}
#ownerBar a:hover { background:  #0000CC; color: #FF0000;}


.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;  background:  #000099; color: #fff; }

.dropdown-submenu:hover>.dropdown-menu{display:block;  background:  #000099; color: #fff; }
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;  background:  #000099; color: #fff; }
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;  background:  #000099; color: #fff; }
.dropdown-submenu{float:none; }.dropdown-submenu>.dropdown-menu{right:-100%;margin-left:0px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;  background:  #000099; color: #fff; }
.sidebar{float:right;margin-right:1px;  background:  #000099; color: #fff; }


.message-thread   {
	background:  #000099;
	color:#fff; 
}

#cmessage {
	background:  #000099;
	color:#fff; 
}
textarea{
	background:  #000099;
	color:#fff; 
}

#sendBtn { 
	display:inline-block;
	*display:inline;
	*zoom:3;
	float:right;
	 background: #00BFFF;
	color: #FFF;
	padding:8px 13px; 
	font-family:'Helvetica Neue',sans-serif; 
	font-size:17px; 
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
	 border:1px solid #1A87B9 
} 

#sendMessage  textarea {
	height: 3em;
	width: 91%;
	background: #104E8B;
	color:#FFF; 
}