/*[class^="icon-"],[class*=" icon-"] {
    background-image:url("../img/glyphicons-halflings.png");
}*/
.modal-dialog {
  width: 340px;
}
.modal-content {
  width: 340px;
}
#gameContainer .row {
    margin: 4px 0 4px 0;
}
.game-cell {
    width: 100px;
    height: 100px;
    background-color: #EEEEEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 4px;
}
.game-cell-selectable {
    cursor: pointer;
}
.game-cell-selectable:hover {
    background-image: url('images/ticTacToe-hover.png');
}
.game-cell-taken {

}
.game-cell-player {
    background-image: url('images/ticTacToe-player.png');
}
.game-cell-opponent {
    background-image: url('images/ticTacToe-opponent.png');
}
.player-label {
    font-weight: bold;
}
#status {
    font-weight: bold;
    font-style: italic;
}


.row:before, .row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.row:before, .row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row {
  margin-left: -20px;
}
.span1 {
  width: 100px;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
}
.modal.fade.in {
  top: 10%;
}
.modal.fade {
  top: -25%;
  -webkit-transition: opacity .3s linear,top .3s ease-out;
  -moz-transition: opacity .3s linear,top .3s ease-out;
  -o-transition: opacity .3s linear,top .3s ease-out;
  transition: opacity .3s linear,top .3s ease-out;
}

.modal {
  position: absolute;
  overflow: none;
  z-index: 1050;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}